inflect
librosa==0.9.0
matplotlib
numpy
pynvml==11.0.0
scipy
tensorboardX==2.0
git+https://github.com/NVIDIA/dllogger@v1.0.0#egg=dllogger

pypinyin==0.41.0
Unidecode==1.2.0
praat_parselmouth==0.3.3
librosa==0.8.0
parselmouth==1.1.1

g2p_en==2.1.0
nltk=3.4.5
torch==1.5.0
